body{
    background-image: url("https://img.freepik.com/free-photo/water-splashing-kiwi-fruit-half-kiwi-fruit-green-background_33736-3236.jpg?size=626&ext=jpg&ga=GA1.2.2100237715.1628467200");
    background-repeat: no-repeat;
    background-size: cover;
}

.cardOne{
    margin: auto;
    float: none;
    margin-bottom: 10px;
}

.cardTwo{
    margin: auto;
    float: none;
    margin-bottom: 10px;
}

.cardThree{
    margin: auto;
    float: none;
    margin-bottom: 10px;
}

.contactMe{
    margin-left: 10px;
    margin-right: 10px;
}

.github{
    color: black;
}

.linkedin{
    color:black;
}